

/* Wrapper */
.skills-wrapper {
  width: 100%;
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding: 40px 20px;
}

/* Section Titles */
.section-title {
  font-family: "Rye", serif;
  font-size: 42px;
  margin-top: 40px;
  color: rgba(255, 200, 60, 0.45);
  text-transform: uppercase;
}

/* Cards Wrapper */
.skills-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
}

/* Cowboy Wooden Cards */


/* Skill Name */
.skill-name {
  font-size: 28px;
  margin-bottom: 10px;
  color: whitesmoke;
}

/* Project Title */
.project-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: whitesmoke;
}

/* Image */
.skill-image {
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 14px;
  margin: 15px auto;
  display: block;
  border: 3px solid rgba(255, 200, 60, 0.45);
}

/* Description */
.skill-desc {
  font-size: 17px;
  color: #ffe7c2;
  margin-bottom: 15px;
  line-height: 2.0;
}

/* Links */
.links-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.links-row a {
  font-size: 18px;
  color: rgba(255, 200, 60, 0.45);
  text-decoration: none;
  border-bottom: 2px solid #2b1404;
}

.links-row a:hover {
  opacity: 0.6;
  color: whitesmoke;
}
